images/**/*.jpg
images/**/*.jpeg
images/**/*.png
images/**/*.gif
images/**/*.bmp
images/**/*.tiff
*.pt
*.pth
build/
video/*
!video/video_list_link.txt
.vscode/launch.json
scripts/assets/*
scripts/__pycache__/feat_manager.cpython-39.pyc
scripts/__pycache__/roi.cpython-39.pyc
scripts/__pycache__/Pan3d.cpython-39.pyc
